@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

$ltgrey: #dedede;
$dkgrey: #9d9d9d;
$white: #fff;
$blue: #4099ff;
$dkblue: #0f6ba6;

@mixin shadow {
  box-shadow: 0 10px 15px -6px $ltgrey;
}

@mixin shadow-darker {
  box-shadow: 0 6px 12px -2px $dkgrey;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $dkblue;
  }
}

.header {
  $header-height: 80px;
  $header-margin: 10px;

  @include shadow;

  border-bottom: 1px solid $ltgrey;
  height: $header-height;
  width: 100%;

  div,
  img {
    height: $header-height - 2 * $header-margin;
    line-height: $header-height - 2 * $header-margin;
    margin: $header-margin;
  }

  .logo-img {
    width: $header-height - 2 * $header-margin;
    background-image: url('../assets/images/boston_seal.png');
    background-size: contain;
    float: left;
  }

  .logo-name {
    font-size: 2rem;
    font-weight: 600;
    float: left;
  }
}

.violation {
  word-wrap: break-word;
}
